# Backend
backend/target/
backend/.mvn/
*.iml
.idea/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# Mobile
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies

# OS
.DS_Store
